[Unit]
Description=Prometheus Labels DB Recorder
After=network.target

[Service]
Type=simple
EnvironmentFile=/etc/default/prometheus-labels-db
ExecStart=/usr/local/bin/prometheus-labels-db-recorder --config.file "$CONFIG_FILE" --db.dir "$DB_DIR"
Restart=on-failure

[Install]
WantedBy=multi-user.target
